# Segmentation and Clustering Neighborhoods in Toronto

Firstly, we import the pandas library and we extract the table from the wikipedia article. Here we have the firsts rows..

In [1]:
import pandas as pd
 
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.to_csv('beautifulsoup_pandas.csv')

df = df[1:]
df.rename(columns={0:'Postcode', 1:'Borough', 2:'Neighborhood'}, inplace=True)

df.head()

  Postcode           Borough      Neighborhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

Let's see how big is our data set.

In [2]:
df.shape

(289, 3)

We create a new empty data frame where we will store the clean data.

In [3]:
new_df = pd.DataFrame(columns = df.columns)
new_df.head()

Empty DataFrame
Columns: [Postcode, Borough, Neighborhood]
Index: []

We loop over the original data set to clean the data and add it to our new data frame.

In [4]:
for index, element in df.iterrows():
    if element['Borough'] != 'Not assigned':
        if element['Postcode'] in new_df['Postcode'].unique():
             for index_,element_ in new_df.iterrows():
                    if (element_['Postcode'] == element['Postcode']) and (element['Neighborhood'] not in element_['Neighborhood']):
                        element_['Neighborhood'] = element_['Neighborhood'] + ', ' + element['Neighborhood']
        else:
            new_df.loc[len(new_df)] = element
            
for index, element in new_df.iterrows():
    if element['Neighborhood'] == 'Not assigned':
        element['Neighborhood'] = element['Borough']

Let's see the first rows of our new data frame.

In [5]:
new_df.head()

  Postcode           Borough                      Neighborhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Queen's Park

Finally, let's take a look to the size of our new data frame.

In [6]:
new_df.shape

(103, 3)